
    
    *{
        margin: 0;
        padding: 0;
        font-family: 'Chau Philomene One', sans-serif;
        
    }


.px-45 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

/*------- Pagina Principal -----------

.contenedorC {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: ;
}*/

.container{
    border: none;
}
.linea-superior {
    position: absolute;
    
    top: -12px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #8a8a8a;
}

.no-deco{
    text-decoration: none;
    color: black;
}

.no-deco:hover{
    text-decoration: underline;
}

.centrar-boton {
    text-align: center;
}


.btn {
    margin: 10px auto;
}

/*-----------------*/

.carousel-container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.column {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    text-align: center;
    background-color: #f7f7f7;
}

.carousel-button {
    cursor: pointer;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}
