* {
    font-family: 'Chau Philomene One', sans-serif;
}

.px-45 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

/*------- Pagina Principal -----------

.contenedorC {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
    width: ;
}*/

.container{
    border: none;
}
.linea-superior {
    position: absolute;
    
    top: -12px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #8a8a8a;
}

.no-deco{
    text-decoration: none;
    color: black;
}

.no-deco:hover{
    text-decoration: underline;
}

.centrar-boton {
    text-align: center;
}

/* Agrega un margen superior e inferior para centrar verticalmente el botón */
.btn {
    margin: 10px auto;
}
