<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Tienda Online del Trebol</title>
</head>

<!-- Carrusel -->

<body>

    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../img/WhatsApp Image 2023-04-27 at 10.50.30 AM.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/WhatsApp Image 2023-04-27 at 10.50.30 AM.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="../img/WhatsApp Image 2023-04-27 at 10.50.30 AM.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>
    </div>

    <br>

    <!-- Categorias -->

    <div class="album py-5 ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 " style="margin-top: 90px;">
                    <div class="contact-form-area fix mtb-30">
                        <h4 style="font-weight: 700;">Categorias principales</h4>
                        <p style="text-decoration: none;">
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Arte Original</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Gift Card</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">DC Comics</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Historieta</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Manga</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Marvel</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">ArtToys MacPulenta</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Merchandising</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Bolsas</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Exclusivo Capitan Barato</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Pre Ventas</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Trading cards</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Figuras</a> <br>
                            <a style="text-decoration: none; color: black; font-size: 18px; font-weight: 300;"
                                href="#">Peluches</a> <br>
                        </p>
                    </div>
                </div>


<!-- Publicaciones -->

                <div class="col-md-9">
                    <h1 class="text-center"> NUESTRAS PUBLICACIONES </h1>
                    <div class="album py-5">
                        <div class="container">
                            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                                <div class="col">
                                    <div class="card border-0">
                                        <div class="linea-superior"></div>
                                        <a href="#">
                                            <img class="bd-placeholder-img card-img-top img-fluid"
                                                src="../img/demon10.png" alt="manga">
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text text-center">
                                                <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                                $2.500 <br>
                                                <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="card border-0">
                                        <div class="linea-superior"></div>
                                        <a href="#">
                                            <img class="bd-placeholder-img card-img-top img-fluid"
                                                src="../img/demon10.png" alt="manga">
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text text-center">
                                                <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                                $2.500 <br>
                                                <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0">
                                        <div class="linea-superior"></div>
                                        <a href="#">
                                            <img class="bd-placeholder-img card-img-top img-fluid"
                                                src="../img/demon10.png" alt="manga">
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text text-center">
                                                <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                                $2.500 <br>
                                                <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0">
                                        <div class="linea-superior"></div>
                                        <a href="#">
                                            <img class="bd-placeholder-img card-img-top img-fluid"
                                                src="../img/demon10.png" alt="manga">
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text text-center">
                                                <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                                $2.500 <br>
                                                <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0">
                                        <div class="linea-superior"></div>
                                        <a href="#">
                                            <img class="bd-placeholder-img card-img-top img-fluid"
                                                src="../img/demon10.png" alt="manga">
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text text-center">
                                                <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                                $2.500 <br>
                                                <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0">
                                        <div class="linea-superior"></div>
                                        <a href="#">
                                            <img class="bd-placeholder-img card-img-top img-fluid"
                                                src="../img/demon10.png" alt="manga">
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text text-center">
                                                <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                                $2.500 <br>
                                                <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0">
                                        <div class="linea-superior"></div>
                                        <a href="#">
                                            <img class="bd-placeholder-img card-img-top img-fluid"
                                                src="../img/demon10.png" alt="manga">
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text text-center">
                                                <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                                $2.500 <br>
                                                <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card border-0">
                                        <div class="linea-superior"></div>
                                        <a href="#">
                                            <img class="bd-placeholder-img card-img-top img-fluid"
                                                src="../img/demon10.png" alt="manga">
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text text-center">
                                                <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                                $2.500 <br>
                                                <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="centrar-boton">
                                <button class="btn btn-dark btn-block btn-primary mx-autos">VER TODOS LOS PRODUCTOS</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- OFERTAS  -->

    <div class="row justify-content-center">
        <div class="col-md-7">
            <h2 class="text-center "> OFERTAS </h2>
            <div class="album py-5">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
                        <div class="col">
                            <div class="card border-0">
                                <div class="linea-superior"></div>
                                <a href="#">
                                    <img class="bd-placeholder-img card-img-top img-fluid" src="../img/demon10.png"
                                        alt="manga">
                                </a>
                                <div class="card-body">
                                    <p class="card-text text-center">
                                        <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                        $2.500 <br>
                                        <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card border-0">
                                <div class="linea-superior"></div>
                                <a href="#">
                                    <img class="bd-placeholder-img card-img-top img-fluid" src="../img/demon10.png"
                                        alt="manga">
                                </a>
                                <div class="card-body">
                                    <p class="card-text text-center">
                                        <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                        $2.500 <br>
                                        <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card border-0">
                                <div class="linea-superior"></div>
                                <a href="#">
                                    <img class="bd-placeholder-img card-img-top img-fluid" src="../img/demon10.png"
                                        alt="manga">
                                </a>
                                <div class="card-body">
                                    <p class="card-text text-center">
                                        <a href="#" class="no-deco"> KAKETSU NO MIERDA VOL.10 </a><br>
                                        $2.500 <br>
                                        <button class="btn btn-dark btn-block">Agregar al Carrito</button>

                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

</html>